<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin.generator.dao.Download1Mapper">
    <resultMap id="BaseResultMap" type="admin.generator.entity.Download1">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="count2" property="count2" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, count2
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from download1
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from download1
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="admin.generator.entity.Download1">
        insert into download1 (id, count2)
        values (#{id,jdbcType=INTEGER}, #{count2,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="admin.generator.entity.Download1">
        insert into download1
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="count2 != null">
                count2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="count2 != null">
                #{count2,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="admin.generator.entity.Download1">
        update download1
        <set>
            <if test="count2 != null">
                count2 = #{count2,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="admin.generator.entity.Download1">
        update download1
        set count2 = #{count2,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>