<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin.generator.dao.PictureteacherMapper">
    <resultMap id="BaseResultMap" type="admin.generator.entity.Pictureteacher">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="pname" property="pname" jdbcType="VARCHAR"/>
        <result column="pictureURL" property="pictureurl" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="deleteTime" property="deletetime" jdbcType="VARCHAR"/>
        <result column="createTime" property="createtime" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updatetime" jdbcType="VARCHAR"/>
        <result column="world" property="world" jdbcType="VARCHAR"/>
        <result column="updater" property="updater" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, pname, pictureURL, author, is_delete, deleteTime, createTime, updateTime, world,
        updater
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from pictureTeacher
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="queryAll" resultType="Pictureteacher">
        select *
        from
        pictureTeacher
        where is_delete = 0
    </select>
    <select id="fuzzySearch" resultType="Pictureteacher">
        select *
        from
        pictureTeacher
        where (createTime between #{startTime} and #{endTime}) and is_delete = 0 or pname like #{pname}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from pictureTeacher
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="admin.generator.entity.Pictureteacher">
        insert into pictureTeacher (id, pname, pictureURL,
        author, is_delete, deleteTime,
        createTime, updateTime, world,
        updater)
        values (#{id,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{pictureurl,jdbcType=VARCHAR},
        #{author,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, #{deletetime,jdbcType=VARCHAR},
        #{createtime,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{world,jdbcType=VARCHAR},
        #{updater,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="admin.generator.entity.Pictureteacher">
        insert into pictureTeacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pname != null">
                pname,
            </if>
            <if test="pictureurl != null">
                pictureURL,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="deletetime != null">
                deleteTime,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
            <if test="updatetime != null">
                updateTime,
            </if>
            <if test="world != null">
                world,
            </if>
            <if test="updater != null">
                updater,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="pname != null">
                #{pname,jdbcType=VARCHAR},
            </if>
            <if test="pictureurl != null">
                #{pictureurl,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="deletetime != null">
                #{deletetime,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=VARCHAR},
            </if>
            <if test="world != null">
                #{world,jdbcType=VARCHAR},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="admin.generator.entity.Pictureteacher">
        update pictureTeacher
        <set>
            <if test="pname != null">
                pname = #{pname,jdbcType=VARCHAR},
            </if>
            <if test="pictureurl != null">
                pictureURL = #{pictureurl,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="deletetime != null">
                deleteTime = #{deletetime,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                updateTime = #{updatetime,jdbcType=VARCHAR},
            </if>
            <if test="world != null">
                world = #{world,jdbcType=VARCHAR},
            </if>
            <if test="updater != null">
                updater = #{updater,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="admin.generator.entity.Pictureteacher">
        update pictureTeacher
        set pname = #{pname,jdbcType=VARCHAR},
        pictureURL = #{pictureurl,jdbcType=VARCHAR},
        author = #{author,jdbcType=VARCHAR},
        is_delete = #{isDelete,jdbcType=INTEGER},
        deleteTime = #{deletetime,jdbcType=VARCHAR},
        createTime = #{createtime,jdbcType=VARCHAR},
        updateTime = #{updatetime,jdbcType=VARCHAR},
        world = #{world,jdbcType=VARCHAR},
        updater = #{updater,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>