<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin.generator.dao.Short1Mapper">
    <resultMap id="BaseResultMap" type="admin.generator.entity.Short1">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="delete_time" property="deleteTime" jdbcType="VARCHAR"/>
        <result column="questioner" property="questioner" jdbcType="VARCHAR"/>
        <result column="createTime" property="createtime" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updatetime" jdbcType="VARCHAR"/>
        <result column="updater" property="updater" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="admin.generator.entity.Short1WithBLOBs" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="imageURL" property="imageurl" jdbcType="LONGVARCHAR"/>
        <result column="answer" property="answer" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, is_delete, delete_time, questioner, createTime, updateTime, updater
    </sql>
    <sql id="Blob_Column_List">
        content, imageURL, answer
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from short1
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="queryAll" resultMap="ResultMapWithBLOBs">
        select *
        from
        short1
        where is_delete = 0
    </select>
    <select id="fuzzyQuery" resultMap="ResultMapWithBLOBs">
        select *
        from short1
        where (createTime between #{startTime} and #{endTime}) or content like #{keyword} or answer like #{keyword}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from short1
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="admin.generator.entity.Short1WithBLOBs">
        insert into short1 (id, title, is_delete,
        delete_time, questioner, createTime,
        updateTime, updater, content,
        imageURL, answer)
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER},
        #{deleteTime,jdbcType=VARCHAR}, #{questioner,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR},
        #{updatetime,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR},
        #{imageurl,jdbcType=LONGVARCHAR}, #{answer,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="admin.generator.entity.Short1WithBLOBs">
        insert into short1
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="questioner != null">
                questioner,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
            <if test="updatetime != null">
                updateTime,
            </if>
            <if test="updater != null">
                updater,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="imageurl != null">
                imageURL,
            </if>
            <if test="answer != null">
                answer,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=VARCHAR},
            </if>
            <if test="questioner != null">
                #{questioner,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=VARCHAR},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="imageurl != null">
                #{imageurl,jdbcType=LONGVARCHAR},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="admin.generator.entity.Short1WithBLOBs">
        update short1
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=VARCHAR},
            </if>
            <if test="questioner != null">
                questioner = #{questioner,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                updateTime = #{updatetime,jdbcType=VARCHAR},
            </if>
            <if test="updater != null">
                updater = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="imageurl != null">
                imageURL = #{imageurl,jdbcType=LONGVARCHAR},
            </if>
            <if test="answer != null">
                answer = #{answer,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="admin.generator.entity.Short1WithBLOBs">
        update short1
        set title = #{title,jdbcType=VARCHAR},
        is_delete = #{isDelete,jdbcType=INTEGER},
        delete_time = #{deleteTime,jdbcType=VARCHAR},
        questioner = #{questioner,jdbcType=VARCHAR},
        createTime = #{createtime,jdbcType=VARCHAR},
        updateTime = #{updatetime,jdbcType=VARCHAR},
        updater = #{updater,jdbcType=VARCHAR},
        content = #{content,jdbcType=LONGVARCHAR},
        imageURL = #{imageurl,jdbcType=LONGVARCHAR},
        answer = #{answer,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="admin.generator.entity.Short1">
        update short1
        set title = #{title,jdbcType=VARCHAR},
        is_delete = #{isDelete,jdbcType=INTEGER},
        delete_time = #{deleteTime,jdbcType=VARCHAR},
        questioner = #{questioner,jdbcType=VARCHAR},
        createTime = #{createtime,jdbcType=VARCHAR},
        updateTime = #{updatetime,jdbcType=VARCHAR},
        updater = #{updater,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>