<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin.generator.dao.SystempictureMapper">
    <resultMap id="BaseResultMap" type="admin.generator.entity.Systempicture">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="pictureURL" property="pictureurl" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="pictureName" property="picturename" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, pictureURL, is_delete, pictureName
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from systemPicture
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from systemPicture
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="admin.generator.entity.Systempicture">
        insert into systemPicture (id, pictureURL, is_delete,
        pictureName)
        values (#{id,jdbcType=INTEGER}, #{pictureurl,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER},
        #{picturename,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="admin.generator.entity.Systempicture">
        insert into systemPicture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pictureurl != null">
                pictureURL,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="picturename != null">
                pictureName,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="pictureurl != null">
                #{pictureurl,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="picturename != null">
                #{picturename,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="admin.generator.entity.Systempicture">
        update systemPicture
        <set>
            <if test="pictureurl != null">
                pictureURL = #{pictureurl,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="picturename != null">
                pictureName = #{picturename,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="admin.generator.entity.Systempicture">
        update systemPicture
        set pictureURL = #{pictureurl,jdbcType=VARCHAR},
        is_delete = #{isDelete,jdbcType=INTEGER},
        pictureName = #{picturename,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>